.cart {
    margin: 10%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.cart h2 {
    padding: 15px 0;
    margin-left: 5%;
}

.checkout-btn-container {
    width: 100%;
    /* border-top: 1px solid lightgray;  */
    display: flex;
    justify-content: center;
}

.checkout-btn {
    width: 40%;
    padding: 15px 0;
    background-color: black;
    color: white;
    cursor: pointer;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    transition: .5s;
    margin: 45px 0;
}

.checkout-btn:hover {
    transform: scale(1.05);
}

.checkout-btn:active {
    transform: scale(.95);
}

.shipping-container {
    display: none;
    transition: 0.9s;
    width: 80%;
}

.shipping-form {
    display: flex;
    flex-direction: column;
}

.shipping-form input {
    padding: 8px;
}

.card-container {
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
}

@media only screen and (max-width: 500px) {
    .cart {
        margin: 10% 3%;
    }
    .checkout-btn {
        width: 90%;
    }
}