.dashboard-content-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.dashboard-content-container h2 {
    margin-top: 25px;
}

.dashboard-content-coffee-list {
    margin: 0px 25px;
}

.dashboard-content-content {
    display: flex;
    justify-content: space-around;
    margin: 25px 0px;
}

.dashboard-content-content p {
    width: 300px;
}

.dashboard-content-container i:hover{
    color: green;
}

.dashboard-content-container i:last-of-type:hover{
    color: red;
}

.dashboard-content-container i {
    transition: .1s;
    cursor: pointer;
    font-size: 1.3rem;
} 

.dashboard-content-container .add-coffee-form-container {
    width: 100%;
    margin: 0%;
    border-radius: .25rem;
}

.dashboard-content-container .icon-container i {
    margin: 0px 15px;
}

.deleted {
    position: absolute;
    background-color: red;
    width: 100%;
    text-align: center;
    color: white;
}

.edited {
    position: absolute;
    background-color: green;
    width: 100%;
    text-align: center;
    color: white;
}

.back-container {
    display: flex;
    width: 150px;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    margin-bottom: 45px;
    transition: .3s;
    border-bottom: 1px solid transparent;
}

.back-container p {
    margin-bottom: 0;
}

.back-container:hover, .back-container i:hover {
    color: #0d6efd!important;
    border-bottom: 1px solid #0d6efd;
}